@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Uniform Crime Reporting Program</li>
    </ol>
}

@model ReportViewModel
<div class="side-body padding-top">
    <div class="row  no-margin-bottom">
        <div class="col-md-12">
            <div class="card card-success" style="margin-right:15px">
                <div class="card-header">
                    <div class="card-title" style="width:100%;padding-bottom:0.6em;padding-top:0.6em">
                        <div class="title" style="font-size:x-large;text-align: center;width:100%">AIS Models FBI Uniform Crime Reporting Data</div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="card-body">
                    <div class="">
                        <p style="text-align:justify">The FBI’s Uniform Crime Reporting (UCR) Program is a nationwide, cooperative statistical effort of more than 18,000 city, university and college, county, state, tribal, and federal law enforcement agencies voluntarily reporting data on crimes brought to their attention.  </p>
                        <p style="text-align:justify">AIS modeled this demo from the a sample of public 2014 crime data. This site is the product of a short two week sprint with the goal of showcasing the art of the possible for reimaging the UCR tool in the Azure Government Cloud.</p>
                        <div class="">
                            <div class="card card-red" style="box-shadow:none">
                                <div class="card-header" style="height:40px;background-color:#22A7F0">
                                    <div class="card-title" style="padding-top:8px">
                                        <div class="title" style="font-size:large">Realtime Crime Statistics</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                                <div class="card-body" style="padding:10px 0px 0px 0px">
                                    <iframe ID="iFrameEmbedReport" src="" style="width:100%;height:500px;" seamless scrolling="no" allowfullscreen="true"></iframe>
                                </div>
                            </div>
                            <br />
                            <div class="card card-red" style="box-shadow:none">
                                <div class="card-header" style="height:40px;background-color:#F4911D">
                                    <div class="card-title" style="padding-top:8px">
                                        <div class="title" style="font-size:large">About AIS</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                                <div class="card-body" style="padding:10px 0px 0px 0px">
                                    <p style="text-align:justify">AIS (Applied Information Sciences) provides software and systems engineering services to government agencies and businesses across the United States. We specialize in cloud services, DevOps, custom application development and IT services. For more information please visit our website: <a href="https://www.appliedis.com/">https://www.appliedis.com/ </a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var iframe = document.getElementById('iFrameEmbedReport');
    iframe.src = '@Model.Report.EmbedUrl'+'&filterPaneEnabled=false';
    iframe.onload = postActionLoadReport;
    function postActionLoadReport() {
        accessToken = '@Model.AccessToken';
        var m = { action: "loadReport", accessToken: accessToken };
        message = JSON.stringify(m);
        iframe = document.getElementById('iFrameEmbedReport');
        iframe.contentWindow.postMessage(message, "*");
    }
</script>